#myForm{
    display: flex;
    flex-direction: column;

}
.h>input{
    padding: 0.5rem;
}
.w>input{
    padding: 0.5rem;
}
p{
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;

    

}
.h{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 20px;
}
