

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.container{
  display: flex;
  flex-direction: column;    
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: 600px;
  border: 2px solid black;
  border-radius: 40px;
  background-image: linear-gradient(45deg, #12c2e9, 
  #c471ed, 
  #f64f59);
}

.form_details {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
}

.form div input::placeholder {
  color: rgb(98, 134, 201);
}



.radio-container {
  display: flex;
  justify-content: space-evenly;
}

.radio-wrapper {
  margin-bottom: 20px;
}

.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.radio-button:hover {
  transform: translateY(-2px);
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-checkmark {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid #333;
  border-radius: 50%;
}

.radio-checkmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #333;
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked ~ .radio-checkmark:before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-label {
  font-size: 16px;
  font-weight: 600;
}





button {
  color: #0df08a;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #9bc0e1;
  border: 1px solid #6345ce;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c471ed, 

              -6px -6px 12px   #c471ed;
 }
 
 button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #12c2e9, 
  
              inset -4px -4px 12px #c471ed;
 }





